<a {{#if href}} href="{{ href }}" {{/if}} {{#if classes}} class="{{ classes }}" {{/if}} {{#if dataAction}} data-action="{{ dataAction }}" {{/if}}>
    {{#if img}}
        {{#with img}}
            <img src="{{ src }}" class="{{ classes }}">
        {{/with}}
    {{/if}}
    {{ text }}
</a>
