<div class="d-contents">
    <article class="film">
        {{#with content}}
            <div class="film__background">
                <img class="film-background__image" src="{{ previewURL }}" alt="">
            </div>

            <div class="film__content">
                <div class="film__content-container">
                    <div class="film-content__title">
                        <h1 class="film-content-title__text">
                            {{ title }}
                        </h1>
                    </div>

                    <div class="film-content__info-container">
                        <div class="film-content__info">
                            <div class="film-content__rating">
                                <span class="film-content-rating__text">{{ rating }}</span>
                            </div>
                            <span class="film-content__year">{{ year }}</span>
                            <span class="film-content__country"></span>
                            <span class="film-content__age-limit">{{ ageLimit }}+</span>
                        </div>
                        <p class="film-content__description">{{ description }}</p>
                    </div>

                    <div class="film-content__authors">
                        <div class="film-content-authors__director">
                            <div class="film-content-authors-director__text">Режиссёры:</div>
                            {{#each directors}}
                                <a href="/persons/{{ id }}" class="film-content-authors-director__name">{{ name }}</a>{{#unless @last}}, {{/unless}}
                            {{/each}}
                        </div>
                        <div class="film-content-authors__actors">
                            <div class="film-content-authors-actors__text">Актёры:</div>
                            {{#each actors}}
                                <a href="/persons/{{ id }}" class="film-content-authors-actors__name">{{ name }}</a>{{#unless @last}}, {{/unless}}
                            {{/each}}
                        </div>
                        <div class="film-content__genres">
                            <div class="film-content-genre__text">Жанры:</div>
                            {{#each genres}}
                                <a href="/genres/{{ id }}" class="film-content-genre__name">{{ name }}</a>{{#unless @last}}, {{/unless}}
                            {{/each}}
                        </div>
                    </div>

                    <div class="film-content__buttons ts-film-content__buttons">

                    </div>
                </div>
            </div>
        {{/with}}
    </article>

    <div class="ts-series"></div>
</div>
