<div class="flex-column">
    {{#with content}}
    <div class="content">
        <div class="content__background">
            <div class="content__player"></div>
            <picture class="d-flex content__picture">
                <img src="{{ previewURL }}" alt="{{ title }}" class="content__image">
            </picture>
        </div>

        <div class="content__main content__main_position">
            <div class="content__info">
                <div class="content__header content-header">
                    <h1 class="content-header__title">{{ title }}</h1>
                </div>

                <div class="content__details">
                    <div class="content__meta content__meta_text white-56">
                        Рейтинг:
                        <div class="content__rating content__rating_background content__rating_position">
                            <span class="content-rating__number">{{ rating }}</span>
                        </div>
                        <span class="content__year">{{ year }}</span>
                        <span class="content__age-limit">{{ ageLimit }}+</span>
                    </div>

                    <p class="content__description">{{ description }}</p>
                </div>

                <div class="content__credits content-credits">
                    <div class="content-credits__item content-credits__item_position">
                        <div class="content-credits__label">Режиссёры:</div>
                        {{#each directors}}
                        <a href="/persons/{{ id }}" class="content-credits__link">{{ name }}</a>{{#unless @last}}, {{/unless}}
                        {{/each}}
                    </div>

                    <div class="content-credits__item content-credits__item_position">
                        <div class="content-credits__label">Актёры:</div>
                        {{#each actors}}
                            <a href="/persons/{{ id }}" class="content-credits__link">{{ name }}</a>{{#unless @last}}, {{/unless}}
                        {{/each}}
                    </div>

                    <div class="content-credits__item content-credits__item_position">
                        <div class="content-credits__label">Жанры:</div>
                        {{#each genres}}
                            <a href="/genres/{{ id }}" class="content-credits__link">{{ name }}</a>{{#unless @last}}, {{/unless}}
                        {{/each}}
                    </div>
                </div>

                <div class="content__buttons content__buttons_position ts-content__buttons"></div>

                <div style="--count: 3" class="content__media-buttons content__media-buttons_position">

                </div>
            </div>
        </div>
    </div>
    {{/with}}

    <div class="ts-content__about"></div>

    <div class="ts-content__series"></div>
</div>
