<div class="{{ divClass }}" {{#if title}} title="{{ title }}"  {{/if}}>
    {{#if text}} {{ text }} {{/if}}

    {{#if imgSrc}}
        <img class="{{ imgClass }}" src="{{ imgSrc }}" alt="">
    {{/if}}
</div>
