<a {{#if id}} id="{{ id }}" {{/if}} {{#if linkHref}} href="{{ linkHref }}" {{/if}} class="link {{ linkClass }}" {{#if dataAction}} data-action="{{ dataAction }}" {{/if}}>
    {{#if linkImageSrc}}
    <span class="link__image">
        <img src="{{ linkImageSrc }}" width="{{ linkImageWidth }}" class="{{ linkImageClass }}">
    </span>
    {{/if}}

    {{#if linkText}}
        <span class="link__text {{ linkTextClass }}">{{ linkText }}</span>
    {{/if}}
</a>
